<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/pantheon.css">
    <audio autoplay loop>
        <source src="../audio/undertale.mp3" type="audio/mp3">
    </audio>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="titulo">Pantheon, la lanza inquebrantable</h1>
    </header>
    <nav>
        <ul>
            <div>
                <button><a href="../../index.html">Volver al inicio</a></button>
            </div>
        </ul>
    </nav>
    <article>
    <ul type="none">
        <div class="texto1">
            <p>Debemos encontrar nuestro lugar el mio es reforjarme para luchar una y otra vez.</p>
           <!--  <p style="margin-block: 50px;"></p> -->
        </div>
    </article>
    <article>
        <div class="texto1">
            <p>¿Cuanto más podríamos avanzar si no tuviéramos que cargar con nuestros miedos a cuestas?</p>
           <!--  <p style="margin-block: 50px;"></p> -->
    </article>
    </div>
    <article>
        <div class="texto1">
            <p>Porque podemos caer, nuestra meta será el ascenso.</p>
    </article>
    </div>
    <article>
        <div class="texto1">
            <p>Avanzar sin detenerte no es lo mismo que huir de tus errores.</p>
    </article>
    </div>
    <article>
        <div class="texto1">
            <p>No se trata de porqué peleo si no por quién.</p>
    </article>
    </div>
    <div class="texto1">
        <p>No fracasarás si vale la pena.</p>
    </div>
    <div class="texto1">
        <p>Somos lo que hemos superado.</p>
        <p>No me rendiré.</p>
        <p>¡Sigue peleando!</p>
        <p">¡No te rindas!</p>
    </div>
</ul>
</body>
</html>