body {
    background-image: url(../img/Pantheon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

h1 {
    background-color: rgb(183, 0, 255);
    color: white;
    font-style: italic;
    border-radius: 15px;
    text-align: center;
}

.fondo {
    background-image: url(../img/vidrio.jpg);
    opacity: 80%;}

.texto1 {
    font-family: 'Courgette', cursive;
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

